# Note: install with the following command:
# pip install -r requirements.txt -f https://storage.googleapis.com/jax-releases/libtpu_releases.html
# Otherwise it won't find the appropriate libtpu_nightly
requests
jax[tpu]>=0.2.16
-e git+https://github.com/huggingface/transformers.git@master#egg=transformers
-e git+https://github.com/huggingface/datasets.git@master#egg=datasets
flax
jupyter
wandb
nltk
optax
git+https://github.com/patil-suraj/vqgan-jax.git@610d842dd33c739325a944102ed33acc07692dd5

# Inference
ftfy
