requests
-f https://storage.googleapis.com/jax-releases/libtpu_releases.html
jax[tpu]>=0.2.16
transformers
datasets
flax
jupyter
wandb
nltk
optax
git+https://github.com/patil-suraj/vqgan-jax.git@610d842dd33c739325a944102ed33acc07692dd5

# Inference
ftfy
