# Requirements for huggingface spaces
-f https://storage.googleapis.com/jax-releases/jax_releases.html
jax[cuda111]
flax
requests
-e git+https://github.com/huggingface/transformers.git@master#egg=transformers
-e git+https://github.com/huggingface/datasets.git@master#egg=datasets
flax
jupyter
wandb
ftfy
